/*
COLOR PALETT

Wood smoke - #07090A
Brandy Rose - #B58588
Smalt Blue - #527A91
Cutty Sark - #486F66
Pewter ----- #B9B7BD

----------------------------------------*/

/*GLOBAL STYLES
----------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}

body {
    background: #07090A;
     color:#527A91;
     margin:0;
}
a {
    color:#B58588;
}

.content-wrapper {
    margin:0 auto;
    width:900px;
}
/*
HOME
----------------------------------------*/
.home {
    background: url(../images/ales-nesetril-Im7lZjxeLhg-unsplash\ \(2\).jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper {
    background: rgb(181 133 136/ 0.1);
}

/*
RESUME
----------------------------------------*/
.resume header::before {
    background: url(../images/michal-kubalczyk-WecngmAT-KY-unsplash.jpg) center;
    background-size: cover;
    content:"hello";
    display: block;
    height: 375px;
}

/*
PROFILE
----------------------------------------*/

/*
PROJECTS
----------------------------------------*/

/*
WORK EXPERIENCE
----------------------------------------*/

/*
EDUCATION
----------------------------------------*/


/*
FOOTER
----------------------------------------*/
footer{
 background-color:rgb(181 133 136/ 0.1);
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li{
    display: inline-block;
}
.socials img{
    width:32px;

}
.gitPic{
    height: 32px;
}